# Dependencias de desarrollo
# Instalar con: pip install -r requirements-dev.txt

# Testing
pytest==9.0.2
pytest-django==4.12.0
pytest-cov==6.2.1
coverage==7.10.6

# Linting y formateo
flake8==7.3.0
pycodestyle==2.14.0
pyflakes==3.4.0
mccabe==0.7.0

# Debugging y utilidades de desarrollo
django-extensions==4.1
django-debug-toolbar==4.4.6
Werkzeug==3.1.4

# Code quality
Pygments==2.19.2
