<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Reportes Financieros Globales</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card bg-success text-white">
                                <div class="card-body text-center">
                                    <h5>Ingresos Totales</h5>
                                    <h3>${{ ingresos_totales|floatformat:0|default:0 }}</h3>
                                    <small>Por suscripciones activas</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TODO: Implementar reportes financieros detallados -->
                </div>
            </div>
        </div>
    </div>
</div>